/*CREAMOS NUESTRAS VARIABLES EN CSS PARA REUTILIZAR*/

:root{
    --rojo: #E50914;
    --fondo: #141414;
}

/*Quitamos los estilos por defecto que genera nuestro sitio web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*Asignamos la variable anterior para proporcionar un color de fondo a nuestro sitio web*/
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

/*CREAMOS UN CONTENEDOR PARA INCLUIR NUESTRO HEADER Y ASIGNAR BORDES EN LA IZQUIERA Y DERECHA*/
.container{
    /*El ancho de va a tomar el 90% y con el margin en auto tomara los 5% a la izquierda y 5% a la derecha
    para un total del 10% restante*/
    width: 90%;
    margin: auto;
}

header{
    /*Asignamos un padding arriba y abajo para ubicar bien nuestro contenedor de nuestro header
    siendo 30px arriba y abajo; 0 izquierda y derecha*/
    padding: 30px 0;
}

header .container{
    /*Asignamos display flex para tener mas herramientas de control y visualizacion de nuestro contenedor y sus items*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo_sitioweb{
    font-family: 'Bebas Neue', cursive;
    /*Quitamos lo demasiado negrita*/
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
}

header nav a{
    /*Asignamos color cercano al blanco*/
    color: #AAA;
    /*Quitamos lo subrayado de nuestras etiquetas a href*/
    text-decoration: none;
    /*Asignamos un margen de 20px entre los elementos*/
    margin-right: 20px;
}

header nav a:hover,
header nav a.inicio_active{
    color: #FFF;
}